/* Layout */

.navbar-layout-phone .layout-content,
.navbar-layout-phone .layout-content > div {
    -position: absolute;
    height: 100%;
    width: 100%;
}

/* Windows phone 8 */

.dx-theme-win8 .pivot-layout {
    height: 100%;
    position: relative;
}

.dx-theme-win8 .navbar-layout-phone {
    height: 100%;
    position: relative;
}

.dx-theme-win8 .pivot-layout .dx-toolbar.layout-toolbar-bottom {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.dx-theme-win8 .pivot-layout .layout-footer {
    bottom: 0;
    height: 0;
    position: absolute;
    width: 100%;
}

.dx-theme-win8 .pivot-layout.has-toolbar-bottom .layout-footer { height: 40px; }


.dx-theme-win8 .navbar-layout-phone .layout-content {
    overflow: hidden;
    width: 100%;
}

.dx-theme-win8 .has-toolbar-bottom .dx-pivot {
    bottom: 40px;
    height: auto;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
}

.dx-theme-win8 .navbar-layout-phone .layout-header .dx-toolbar { opacity: 1; }