.slideout-layout {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slideout-layout .layout-header {
    height: 40px;
    position: absolute;
    top: 0;
    width: 100%;
}

.slideout-layout .layout-content {
    bottom: 0;
    overflow: hidden;
    position: absolute;
    top: 40px;
    width: 100%;
}

.slideout-layout .layout-content > div[data-options] {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.slideout-layout .view-content {
    height: 100%;
    position: absolute;
    width: 100%;
}

.slideout-layout .layout-frame {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 200;
}

.dx-slideout .dx-slideout-item-container .dx-slideout-shield {
    top: 42px;
    z-index: 201;
}

.slideout-layout .layout-frame,
.slideout-layout .layout-frame .layout-header,
.slideout-layout .layout-frame .layout-header .dx-toolbar { border-radius: 4px 4px 0 0; }


/* navigation */

.slideout-layout .navigation-list {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}

.slideout-layout .nav-partial-view { height: 100%; }

.slideout-layout .navigation-list .dx-list .dx-list-item .dx-navigation-item {
    height: 24px;
    line-height: 24px;
}

.slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon {
    -moz-background-size: 100%;
    -o-background-size: 100%;
    -webkit-background-size: 100%;
    background-size: 100%;
    float: left;
    height: 24px;
    margin-right: 15px;
    width: 24px;
}

.dx-rtl .slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon,
.dx-rtl.slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}


/* iOS */

.slideout-layout .view-footer { position: static; }

/* iOS 6 */

.dx-theme-ios .slideout-layout .navigation-list .dx-list {
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 0;
}

.dx-theme-ios .slideout-layout .navigation-list .dx-list .dx-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #E8EEF4;
    font-size: 14pt;
    text-shadow: 0 1px rgba(48, 48, 48, .6);
}

.dx-theme-ios .slideout-layout .navigation-list .dx-list .dx-list-item.dx-state-disabled { opacity: 0.6; }

.dx-theme-ios .slideout-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
}

.dx-theme-ios .slideout-layout .view-toolbar-bottom { margin-bottom: 10px; }

.dx-theme-ios .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-before { right: 0; }

.dx-theme-ios .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-before .dx-button {
    left: 10px;
    position: absolute;
    right: 10px;
}

.dx-theme-ios .slideout-layout .layout-header { height: 43px; }

.dx-theme-ios .slideout-layout .layout-content { top: 43px; }

.dx-theme-ios .slideout-layout .view-footer .dx-toolbar { height: 57px; }

.dx-theme-ios .slideout-layout .view-footer .dx-toolbar-center { width: 100%; }

.dx-theme-ios .slideout-layout .view-footer .dx-button {
    height: 40px;
    overflow: visible;
    width: 97%;
}

.dx-theme-ios .slideout-layout .view-footer .dx-button .dx-button-content {
    border-radius: 6px;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
}

.dx-theme-ios .slideout-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* iOS7 */

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list {
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    min-height: 0;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item {
    color: #000;
    font-size: 14px;
    position: relative;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item:after { left: 49px; }

.dx-theme-ios7 .dx-rtl .slideout-layout .navigation-list .dx-list .dx-list-item:after,
.dx-theme-ios7 .dx-rtl.slideout-layout .navigation-list .dx-list .dx-list-item:after {
    left: auto;
    right: 49px;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item:before {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border-right: 2px solid #cbcbcb;
    border-top: 2px solid #cbcbcb;
    content: ' ';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: rotate(45deg);
    width: 8px;
}

.dx-theme-ios7 .dx-rtl .slideout-layout .navigation-list .dx-list .dx-list-item:before,
.dx-theme-ios7 .dx-rtl.slideout-layout .navigation-list .dx-list .dx-list-item:before {
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    left: 20px;
    right: auto;
    transform: rotate(225deg);
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon { margin-right: 10px; }

.dx-theme-ios7 .dx-rtl .slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon,
.dx-theme-ios7 .dx-rtl.slideout-layout .navigation-list .dx-list .dx-list-item .dx-icon {
    margin-left: 10px;
    margin-right: 0;
}

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item.dx-state-active { background: rgba(1, 122, 255, .2); }

.dx-theme-ios7 .slideout-layout .navigation-list .dx-list .dx-list-item.dx-state-disabled { opacity: 0.6; }

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom.dx-toolbar {
    background: transparent;
    border: none;
}

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom { margin-bottom: 10px; }

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-before { right: 0; }

.dx-theme-ios7 .slideout-layout .view-toolbar-bottom.dx-toolbar .dx-toolbar-before .dx-button {
    left: 10px;
    position: absolute;
    right: 10px;
}

.dx-theme-ios7 .slideout-layout .layout-header.dx-toolbar { background: none; }

.dx-theme-ios7 .slideout-layout .layout-header { height: 43px; }

.dx-theme-ios7 .slideout-layout .layout-content {
    background-color: #EFEFF4;
    top: 44px;
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-toolbar { height: 57px; }

.dx-theme-ios7 .slideout-layout .view-footer .dx-toolbar-center { width: 100%; }

.dx-theme-ios7 .slideout-layout .view-footer .dx-button {
    overflow: visible;
    width: 97%;
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-button .dx-button-content {
    border-radius: 6px;
    box-sizing: border-box;
    height: 44px;
    width: 100%;
}

.dx-theme-ios7 .slideout-layout .view-footer .dx-button .dx-button-content .dx-button-text {
    font-size: 20px;
    line-height: 38px;
}

/* Android */

.dx-theme-android .slideout-layout .layout-content.has-toolbar-bottom { bottom: 43px; }

.dx-theme-android .slideout-layout .dx-toolbar.layout-toolbar-bottom {
    bottom: 0;
    position: absolute;
}

.dx-theme-android .slideout-layout .layout-content { top: 42px; }

.dx-theme-android .slideout-layout .layout-header .dx-toolbar { height: 40px; }

/* Windows phone 8 */

.dx-theme-win8.dx-color-scheme-white .slideout-layout .layout-content { background: #fff; }

.dx-theme-win8.dx-color-scheme-black .slideout-layout .layout-content { background: #000; }

.dx-theme-win8 .slideout-layout .layout-header { height: 60px; }

.dx-theme-win8 .slideout-layout .layout-content,
.dx-theme-win8 .dx-slideout .dx-slideout-item-container .dx-slideout-shield { top: 60px; }

.dx-theme-win8 .slideout-layout .layout-content.has-toolbar-bottom {
    bottom: 40px;
    overflow: hidden;
}

.dx-theme-win8 .slideout-layout .dx-toolbar.layout-toolbar-bottom {
    bottom: 0;
    margin-bottom: 0;
    position: absolute;
}

.dx-theme-win8.dx-device-phone.dx-color-scheme-white .slideout-layout .dx-toolbar { background: #fff; }

.dx-theme-win8.dx-device-phone.dx-color-scheme-black .slideout-layout .dx-toolbar { background: #000; }

.dx-theme-win8 .slideout-layout .layout-header .dx-toolbar {
    height: 60px;
    opacity: 1;
}

.dx-theme-win8.dx-color-scheme-white .slideout-layout .layout-header .dx-toolbar { background: #fff; }

.dx-theme-win8.dx-color-scheme-black .slideout-layout .layout-header .dx-toolbar { background: #000; }

.dx-theme-tizen .slideout-layout .layout-frame,
.dx-theme-tizen .slideout-layout .layout-frame .layout-header,
.dx-theme-tizen .slideout-layout .layout-frame .layout-header .dx-toolbar { border-radius: 0; }


/* generic theme */

.dx-theme-generic .slideout-layout .layout-header { height: 80px; }

.dx-theme-generic .slideout-layout .layout-content { top: 80px; }

.dx-theme-generic.dx-device-phone .slideout-layout .layout-header { height: 50px; }

.dx-theme-generic.dx-device-phone .slideout-layout .layout-content { top: 50px; }